*{
    margin: 0;
    padding: 0;
}
.content ul{
    padding: 1rem;
    list-style: none;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    li{
        justify-content: center;
        .item_container{
            img{
               width: 100%;
            }

        }
        .item_description{
            display: flex;
            flex-direction: column;
            span{
                color: blue;
            }
            .envio_gratis{
                font-size: 15px;
                color: green;
            }
            p{
                font-size: 14px;
            }
        }
    }
}

@media (min-width:$tablet){
    .content ul{
        grid-template-columns: repeat(4,1fr);   
        grid-gap: 20px;
        .item_container{
            background-color: whitesmoke;
          
            .item_description{
                padding-left: 20px;
          
            
            }
        }
        

    }
}
