.title{
    margin-bottom: 25px
 
}

    .compras{
        .vista-mobile{
            background-image: url(../img/portada3cuotas.avif);
            background-size: cover;
            padding: 45px;
            width: 70%;
            margin: auto;
            
            p{
                
                text-align: center;
                color: #fff;
                padding: 45px;
                background:rgba(0, 0, 0, 0.6);
            }
        }
        p{
            text-align: center;
            color: #fff;
        }
    }

@media (max-width:$mobile){
    .compras{
       
        .vista-mobile{
            width: 100%;
            padding: 15px;
        }
    }
}