
  
    .exito{
        background-image: url(../img/uva-enviar.avif);
        background-size: cover;
        height: 80vh;
        & h2{
            margin: auto;
            background:rgba(0, 0, 0, 0.6);
            padding: 25px 5px;
        }
    }
